/* 
    Document   : de_dieploegers_godate.css
    Created on : 20120403
    Author     : Dennis Ploeger <develop@dieploegers.de>
    Description: Zimlet, that registers a hotkey to go to specific date
*/
